<style type="text/css">
    .layui-nav .layui-nav-item a {
        color: #fff;
    }

    .layui-nav-side {
        top: 60px;
    }

    .layui-layout-left {
        left: 100px;
    }
</style>
<div class="layui-header" style="background-color: #00aa88;">
    <div class="layui-logo color-white font-weight" style="margin-left:10px;text-align: left;">
        <img src="/static/img/logo.png" height="50px"/>
    </div>
    <ul id="nav-box" class="layui-nav nav-menu layui-layout-left" style="background-color: #00aa88;">
        <li class="layui-nav-item layui-this"><a class="select-nav" target="framebox" href="/company/index">公司列表</a>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right" style="background-color: #00aa88;">
        <li class="layui-nav-item">
            <a href="javascript:;">
                FireFly
            </a>
        </li>
        <li class="layui-nav-item"><a id="logoff" style="cursor:pointer;color: black;font-size: 12px;">退出登录</a></li>
    </ul>
</div>